<header>
  <div id="introtext">
    <span class="head-sarah">Sarah</span>
    <span class="head-brad">&nbsp;
      <span class="amp">&amp;</span> 
      BRADLEY
    </span>
    <div class="date">SEPTEMBER 6<sup>th</sup>, 2013</div>
  </div>
</header>
