<header>
  <div id="introtext">
    <span class="head-sarah">洪佳伟</span>
    <span class="head-brad">&nbsp;
      <span class="amp">&amp;</span> 
      某某某
    </span>
    <div class="date">十二月初六, 癸巳年</div>
  </div>
</header>
