<nav id="nav">
  <ul>
    <li><a href="#brideandgroom">THE BRIDE &amp; GROOM</a></li>
    <li><a href="#wedding">WEDDING</a></li>
    <li><a href="#accomodations">ACCOMODATIONS</a></li>
    <li><a href="#registry">REGISTRY</a></li>
    <li><a href="http://sc.chinaz.com" target="_blank">BLOG</a></li>
  </ul>
</nav>
