<header>
  <div id="introtext">
    <span class="head-sarah">洪佳伟</span>
    <span class="head-brad">&nbsp;
      <span class="amp">&amp;</span> 
      某某某
    </span>
    <div class="date">十一月二十, 癸巳年</div>

    <div class="big_titles">
      <span class="left">恭祝小老佳伟同志即将成为大人！！!<br>——全体小老献上</span>
    </div>
  </div>
</header>
