<header>
  <div id="introtext">
    <span class="head-sarah">洪佳伟</span>
    <span class="head-brad">&nbsp;
      <span class="amp">&amp;</span>
      王裕欣
    </span>
    <div class="date">农历癸巳年 十月廿二</div>

    <div class="big_titles">
      <span class="left">热烈庆祝阿小老佳伟爱做大人了！！!<br>——全体小老献上</span>
    </div>
  </div>
</header>
