<nav id="nav">
  <ul>
    <li><a href="#love">爱很简单</a></li>
    <li><a href="#blessing">错小老个祝福</a></li>
    <li><a href="#accomodations">最后的彩蛋</a></li>
    <li><a href="#bg-container">页面顶部</a></li>
  </ul>
</nav>
