<nav id="nav">
  <ul>
    <li><a href="#brideandgroom">主人公的故事</a></li>
    <li><a href="#wedding">婚礼安排</a></li>
    <li><a href="#accomodations">婚礼地点</a></li>
    <li><a href="#" onclick="javascript:alert('该功能模块正在开发之中！');return false;">我要送祝福！</a></li>
    <li><a href="#bg-container">页面顶部</a></li>
  </ul>
</nav>
